body {
    background-color: #faf9f6;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#mainContainer {
    flex: 1;
}

.logo {
    width: 300px;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0;
}

.creative {
    color: midnightblue;
}

.card {
    width: 45%;
    text-align: justify;
}

.left {
    float: left;
}

.right {
    float: right;
}

.title-image {
    width: 200px;
    float: left;
    margin-right: 50px;
}

.card-title,
.card-text {
    margin: 0;
}

footer {
    font-weight: 600;
    text-align: right;
    color: midnightblue;
}

@media (max-width: 680px) {
    body {
        margin: 0 20px;
    }

    .logo {
        width: 200px;
    }

    h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .card {
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }

    .card img {
        margin-bottom: 10px;
        width: 100%;
        display: inline;
        object-fit: cover;
    }
}